@import url("https://fonts.googleapis.com/css?family=Catamaran:300,400,500");
@import url("//use.fontawesome.com/releases/v4.7.0/css/font-awesome-css.min.css");
/* line 2, ../sass/_reset.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 7, ../sass/_reset.scss */
html, body {
  height: 100%;
}

/* line 11, ../sass/_reset.scss */
p, a, h1, h2, h3, h4, h5, h6 {
  font-family: 'Catamaran', 'sans-serif';
}

/* line 15, ../sass/_reset.scss */
p, a {
  color: #212212;
}

/* line 19, ../sass/_reset.scss */
img {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

/* line 4, ../sass/_sizing.scss */
.container {
  width: 90%;
  margin: 0px auto;
}

/* line 8, ../sass/_sizing.scss */
.col-1 {
  width: 8.333%;
  height: 8.333%;
  background-color: red;
  float: left;
}

/* line 14, ../sass/_sizing.scss */
.col-2 {
  width: 16.666%;
  height: 16.666%;
  float: left;
}

/* line 19, ../sass/_sizing.scss */
.col-3 {
  width: 24.999%;
  height: 24.999%;
  float: left;
}

/* line 24, ../sass/_sizing.scss */
.col-4 {
  width: 33.332%;
  height: 33.332%;
  float: left;
}

/* line 29, ../sass/_sizing.scss */
.col-5 {
  width: 41.665%;
  height: 41.665%;
  float: left;
}

/* line 34, ../sass/_sizing.scss */
.col-6 {
  width: 49.998%;
  height: 49.998%;
  float: left;
}

/* line 39, ../sass/_sizing.scss */
.col-7 {
  width: 58.331%;
  height: 58.331%;
  float: left;
}

/* line 44, ../sass/_sizing.scss */
.col-8 {
  width: 66.664%;
  height: 66.664%;
  float: left;
}

/* line 49, ../sass/_sizing.scss */
.col-9 {
  width: 74.997%;
  height: 74.997%;
  float: left;
}

/* line 54, ../sass/_sizing.scss */
.col-10 {
  width: 83.33%;
  height: 83.33%;
  float: left;
}

/* line 59, ../sass/_sizing.scss */
.col-10 {
  width: 83.33%;
  height: 83.33%;
  float: left;
}

/* line 64, ../sass/_sizing.scss */
.col-11 {
  width: 91.663%;
  height: 91.663%;
  float: left;
}

/* line 69, ../sass/_sizing.scss */
.col-12 {
  width: 99.996%;
  height: 99.996%;
  float: left;
}

/* line 1, ../sass/_loader.scss */
.no-js #loader {
  display: none;
}

/* line 4, ../sass/_loader.scss */
.js #loader {
  display: block;
  position: absolute;
  left: 100px;
  top: 0;
}

/* line 10, ../sass/_loader.scss */
.se-pre-con {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(../../media/loading.gif) center no-repeat #fff;
  transition: 0s;
}

/*Navigation Menu*/
/* line 4, ../sass/_navigation.scss */
.topNav {
  overflow: hidden;
  position: absolute;
  top: 20px;
  left: 20px;
}
/* line 9, ../sass/_navigation.scss */
.topNav a {
  position: relative;
  float: left;
  display: block;
  color: #333;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  padding: 10px 10px 0px 10px;
}
/* line 19, ../sass/_navigation.scss */
.topNav a:active {
  color: #d47163;
}
/* line 22, ../sass/_navigation.scss */
.topNav a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #333;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all .3s ease-in-out 0s;
  transition: all .3s ease-in-out 0s;
}
/* line 36, ../sass/_navigation.scss */
.topNav a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
/* line 42, ../sass/_navigation.scss */
.topNav .icon {
  display: none;
}

/* line 47, ../sass/_navigation.scss */
.menuBtn, .sideNav * {
  display: none;
}

/*Menu Media Queries*/
@media screen and (max-width: 600px) {
  /* line 54, ../sass/_navigation.scss */
  #main-top-nav * {
    display: none;
  }

  /* line 58, ../sass/_navigation.scss */
  .sideNav * {
    display: block;
  }

  /* line 62, ../sass/_navigation.scss */
  .navHolder {
    width: 100%;
    height: 30px;
    background-color: #333;
  }

  /*Navigation*/
  /* line 69, ../sass/_navigation.scss */
  .menuBtn {
    display: block;
    float: right;
    position: absolute;
    top: 15px;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  /* line 77, ../sass/_navigation.scss */
  .menuBtn i {
    color: #333;
  }
  /* line 80, ../sass/_navigation.scss */
  .menuBtn i:hover {
    color: #d47163;
  }

  /* line 85, ../sass/_navigation.scss */
  .sideNav {
    height: 100%;
    width: 0%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(33, 33, 33, 0.8);
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
  }
  /* line 96, ../sass/_navigation.scss */
  .sideNav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 24px;
    color: #f8f8f8;
    display: block;
    transition: 0.3s;
    width: 100%;
    min-width: 300px;
  }
  /* line 106, ../sass/_navigation.scss */
  .sideNav .closeBtn {
    position: absolute;
    top: -10px;
    right: 17px;
    font-size: 36px;
    margin-left: 50px;
    width: initial;
    min-width: 0;
  }

  /* line 117, ../sass/_navigation.scss */
  .sideNavBtn:hover {
    color: #333333;
    background-color: #f8f8f8;
  }
}
/* line 1, ../sass/_flex.scss */
.flex-container {
  display: flex;
  width: 90%;
  margin: 0px auto;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 30px;
}

/* line 10, ../sass/_flex.scss */
.flex-galleryItem {
  padding: 5px;
  width: 30%;
  height: 100%;
  padding: 20px;
  margin: 0px auto;
}
/* line 16, ../sass/_flex.scss */
.flex-galleryItem * {
  transition: .3s;
  transition-timing-function: ease-in-out;
}
/* line 20, ../sass/_flex.scss */
.flex-galleryItem img {
  border: 2px solid #333;
}
/* line 23, ../sass/_flex.scss */
.flex-galleryItem :hover {
  color: #d47163;
  border-color: #d47163;
}
/* line 27, ../sass/_flex.scss */
.flex-galleryItem h3 {
  text-align: center;
}

@media screen and (max-width: 597px) {
  /* line 33, ../sass/_flex.scss */
  .flex-galleryItem {
    width: 95%;
  }
}
@media screen and (min-width: 598px) {
  /* line 39, ../sass/_flex.scss */
  .flex-galleryItem {
    width: 47%;
  }
}
@media screen and (min-width: 769px) {
  /* line 45, ../sass/_flex.scss */
  .flex-galleryItem {
    width: 33%;
  }
}
@media screen and (min-width: 1024px) {
  /* line 51, ../sass/_flex.scss */
  .flex-galleryItem {
    width: 25%;
  }
}
@font-face {
  font-family: 'FontAwesome';
  src: url("//use.fontawesome.com/releases/v4.7.0/fonts/fontawesome-webfont.eot");
  src: url("//use.fontawesome.com/releases/v4.7.0/fonts/fontawesome-webfont.eot?#iefix") format("embedded-opentype"), url("//use.fontawesome.com/releases/v4.7.0/fonts/fontawesome-webfont.woff2") format("woff2"), url("//use.fontawesome.com/releases/v4.7.0/fonts/fontawesome-webfont.woff") format("woff"), url("//use.fontawesome.com/releases/v4.7.0/fonts/fontawesome-webfont.ttf") format("truetype"), url("//use.fontawesome.com/releases/v4.7.0/fonts/fontawesome-webfont.svg#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 11, ../sass/styles.scss */
body * {
  transition-timing-function: ease-out;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 18, ../sass/styles.scss */
nav {
  position: relative;
  z-index: 10;
  height: 38px;
}

/* line 24, ../sass/styles.scss */
a:link, a:active, a:visited {
  text-decoration: none;
}

/* line 27, ../sass/styles.scss */
a:hover {
  text-decoration: none;
}

/* line 31, ../sass/styles.scss */
img {
  width: 100%;
  height: 100%;
}

/* line 36, ../sass/styles.scss */
p {
  font-family: 'Catamaran', sans-serif;
  font-weight: 300;
  font-size: 18px;
}

/* line 42, ../sass/styles.scss */
footer {
  min-width: 320px;
  width: 80%;
  clear: both;
  margin: 0px auto;
  padding-bottom: 20px;
}
/* line 48, ../sass/styles.scss */
footer hr {
  width: 80%;
  margin: 0px auto;
}
/* line 52, ../sass/styles.scss */
footer p {
  text-align: center;
  font-size: 14px;
}
/* line 56, ../sass/styles.scss */
footer .fa-heart {
  color: #d47163;
}

/* line 65, ../sass/styles.scss */
#bannerTop {
  height: 363px;
  border-bottom: 1px solid #333;
}
/* line 68, ../sass/styles.scss */
#bannerTop #banner {
  width: 100%;
  height: 400px;
  background: tomato;
  position: absolute;
  z-index: -10;
  display: block;
  top: 0;
  left: 0;
  background: url("../../media/banner.jpg");
  background-size: cover;
  background-position-x: center;
  overflow: hidden;
}

@media screen and (max-width: 425px) {
  /* line 85, ../sass/styles.scss */
  #bannerTop {
    height: 463px;
  }
  /* line 87, ../sass/styles.scss */
  #bannerTop #banner {
    height: 500px;
  }
}
@media screen and (min-width: 1440px) {
  /* line 94, ../sass/styles.scss */
  #bannerTop {
    height: 563px;
  }
  /* line 96, ../sass/styles.scss */
  #bannerTop #banner {
    height: 600px;
  }
}
/* line 105, ../sass/styles.scss */
.galleryItem {
  padding: 5px;
}
/* line 107, ../sass/styles.scss */
.galleryItem img {
  border: 2px solid #333;
}
/* line 111, ../sass/styles.scss */
.galleryItem :hover {
  color: #d47163;
  border-color: #d47163;
}
/* line 116, ../sass/styles.scss */
.galleryItem h3 {
  text-align: center;
}

/* line 123, ../sass/styles.scss */
.socialMedia {
  text-align: center;
  padding: 10px 0px;
}
/* line 126, ../sass/styles.scss */
.socialMedia a {
  color: #333;
  margin: 5px;
}
/* line 130, ../sass/styles.scss */
.socialMedia .fa-linkedin:hover {
  color: #0077B5;
}
/* line 133, ../sass/styles.scss */
.socialMedia .fa-github:hover {
  color: #6e5494;
}
/* line 136, ../sass/styles.scss */
.socialMedia .fa-twitter:hover {
  color: #55acee;
}
/* line 139, ../sass/styles.scss */
.socialMedia .fa-codepen:hover {
  color: #0ebeff;
}
/* line 142, ../sass/styles.scss */
.socialMedia .fa-vimeo:hover {
  color: #00adef;
}
/* line 145, ../sass/styles.scss */
.socialMedia .fa-external-link:hover, .socialMedia .fa-envelope:hover {
  color: #d47163;
}
