@import 'variables';

/*Navigation Menu*/
.topNav{
    display: block;
    width: 100%;
    float: right;
    position: relative;
    z-index: 10;
    top: 10px;
    max-width: 1440px;
    #rightAlign{
        float: right;
        margin-right: 20px;
    }
    a{
        position: relative;
        text-align: right;
        float: left;
        display: block;
        color: $lightColor;
        text-decoration: none;
        font-size: 18px;
        padding: 10px 10px 0px 10px;

        &:before{
            content:"";
            position: absolute;
            width: 100%;
            height: 2px;
            bottom: 0;
            left: 0;
            background-color: $lightColor;
            visibility: hidden;
            -webkit-transform: scaleX(0);
            transform: scaleX(0);
            -webkit-transition: all .3s ease-in-out 0s;
            transition: all .3s ease-in-out 0s;
        }
        &:hover:before{
            visibility: visible;
            -webkit-transform: scaleX(1);
            transform: scaleX(1);
        }
    } 
    .icon{
        display: none;
    }
}

#menuBtn, .sideNav *{
	display: none;
}

//Media Queries
/*Menu Media Queries*/
@media screen and (max-width: 768px) {
	#main-top-nav *{
		display: none;
	}

	.sideNav * {
        display: block;
    }

	.navHolder{
		width: 100%;
		height: 30px;
		background-color: $lightColor;
	}

	/*Navigation*/
    #menuBtn{
        z-index: 9;
        -webkit-transition: all .3s ease-in-out 0s;
        transition: all .3s ease-in-out 0s;
        display: block;
        float: right;
        position: absolute;
        top: 18px;
        right: 23px;
        font-size: 36px;
        a{
            z-index: 8;
        }
        p{
            color: $lightColor;
            font-weight: 500;
            text-transform: uppercase;
        }
        i:hover{
             -webkit-transition: all .3s ease-in-out 0s;
            transition: all .3s ease-in-out 0s;
        }
    }

    .sideNav{
        height: 100%;
        width: 0%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        z-index: 15;
        background-color: rgba(33,33,33,.8);
        overflow-x: hidden;
        padding-top: 60px;
        transition: 0.5s;
        a {
            z-index: 100;
            padding: 8px 8px 8px 32px;
            text-decoration: none;
            font-size: 24px;
            color: #f8f8f8;
            display: block;
            transition: 0.3s;
            width: 100%;
            min-width: 300px;
        }
        p {
            position: absolute;
            z-index: 15;
            top: 9px;
            right: 17px;
            font-size: 24px;
            color: $lightColor;
            width: initial;
            min-width: 0;
        }
    }

    .sideNavBtn{
         &:before{
                content:"";
                width: 80%;
                position: absolute;
                margin-top: 30px;
                height: 2px;
                background-color: #f8f8f8;
                visibility: hidden;
                transform-origin: left;
                -webkit-transform: scaleX(0);
                transform: scaleX(0);
                -webkit-transition: all .3s ease-in-out 0s;
                transition: all .3s ease-in-out 0s;
            }
            &:hover:before{
                visibility: visible;
                -webkit-transform: scaleX(1);
                transform: scaleX(1);
            }
    }
}