//Internal Imports
@import 'variables', 'reset', 'loader', 'navigation', 'flex', 'about', 'portfolio', 'contact';

//HTML Elements
HTML{
    background-color:lightColor;
}
body * {
    -webkit-transition-timing-function: ease-out;
    -ms-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    box-sizing: border-box;
}

body{
    @media screen and (max-width: 425px) {
        padding: 0px;
    }
}

#mobileFix{
    position: relative;
    top: 0;
    left: 0;
    z-index: 10;
}

a:link, a:active, a:visited { 
    text-decoration: none;
}
a:hover{
    text-decoration:none;
}

img{
    width: 100%;
    height: 100%;
}

p{
    font-family: 'Catamaran', sans-serif;
    font-weight: 300;
    font-size: 18px;
}

footer{
    position: relative;
    top: 0;
    left: 0;
    height: 150px;
    width: 100%;
    background: $darkColor;
    clear: both;
    margin: 0px auto 0px auto;
    #madeBy {
        width: 100%;
        height: auto;
        display: block;
        text-align: center;
        position: absolute;
        top: 60%;
        p{
            color: $lightColor;
            font-size: 14px;
        }
        #copyright{
            font-size: 12px;
        }
    }
    .fa-heart{
        color: $primeColor;
    }
}

//End of HTML Elements

//Page Container & Wrapper
#container{
    -ms-transition: all .3s ease-in-out 0s;
    -webkit-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s;
}

#border{
    background-color: $lightColor;
    margin-bottom: 10px;
}
//End of Container

//Banner Display

#bannerTop{
    height: 75vh;
    min-height: 400px;
    position: relative;
    top: 0;
    left: 0;
    #bannerImage{
        width: 100%;
        height: 75vh;
        min-height: 400px;
        position: absolute;
        z-index: -10;
        display: block;
        top: 0;
        left: 0;
        background-color: $primeColor;
        -ms-transition: background-color .5s linear;
        -webkit-transition: background-color .5s linear;
        transition: background-color .5s linear;
        overflow: hidden;
    }
    #bannerHome{
        width: 100%;
        height: 75vh;
        min-height: 400px;
        position: absolute;
        z-index: -10;
        display: block;
        top: 0;
        left: 0;
        background-color: $primeColor;
        -ms-transition: background-color .5s linear;
        -webkit-transition: background-color .5s linear;
        transition: background-color .5s linear;
        overflow: hidden;
        &::before{
            mix-blend-mode: screen;
        }
        #bannerText{
            position: absolute;
            top: 50%;
            left: 50%;
            display: block;
            text-align: center;
            -ms-transform: translate(-50%,-50%);
            -webkit-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
            width: 95%;
            h1{
                color: $lightColor;
                font-size: 3em;
                font-weight: 300;
                mix-blend-mode: none;
            }
            h2{
                color: $lightColor;
                font-size: 1.3em;
                font-weight: 400;
            }
        }
    }
    @media screen and (max-width: 500px){
        height: 50vh;
        min-height: 300px;
        #bannerHome{
            height:50vh;
            min-height: 300px;
        }
        #bannerImage{
            height: 50vh;
            min-height: 300px;
        }
    }
}

//End of Banner Display

//Portfolio Section

#portfolioSection{
    background-color: $darkColor;
    color: $lightColor;
    width: 100%;
    padding: 30px 0px;
    h2{
        width: 90%;
        margin: 0px auto;
        text-align: left;
    }
    p{
        color: $lightColor;
        width: 90%;
        margin: 0px auto;
    }
    a{
        cursor: pointer;
    }
}

//Social Media & Footer Content
.socialMedia {
    text-align: center;
    padding: 30px 0px;
    text-transform: uppercase;
    font-family: 'Catamaran', 'sans-serif';
    font-weight: 500;
    a{
        color: $lightColor;
        margin: 15px;
    }
    #linkedinSocial:hover{
        color: #0077B5;
        -ms-transition: .3s linear;
        -webkit-transition: .3s linear;
        transition: .3s linear;
    }
    #githubSocial:hover{
        color: #6e5494;
        -ms-transition: .3s linear;
        -webkit-transition: .3s linear;
        transition: .3s linear;
    }
    #twitterSocial:hover{
        color: #55acee;
        -ms-transition: .3s linear;
        -webkit-transition: .3s linear;
        transition: .3s linear;
    }
}

//End of Social Media & Footer Content